<!-- my_page.html -->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>내 정보</h4>
           
        </div>
    </div>
    
    <form th:action="@{/user/mypage}" method="post" th:object="${user}">
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" class="form-control" id="username" readonly="readonly">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password1">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control" id="password2">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email">
        </div>
        
        <button type="submit" class="btn btn-primary">정보 수정</button>
       
    </form>
    
    
</html>
